<h1>Edit Worker</h1>

<%= render 'form', worker: @worker, url: worker_path, method: "PUT" %>
<%= button_to "Delete", @worker, method: :delete, data: {confirm: "Are you sure?" }, class: "btn  btn-outline-danger" %>