<h1>Edit Ticket</h1>

<%= render 'form', ticket: @ticket, url: ticket_path, method: "PUT" %>
<% if current_user.worker.role == "Manager" || current_user.admin? %>
    <%= button_to "Delete", @ticket, method: :delete, data: {confirm: "Are you sure?" }, class: "btn  btn-outline-danger" %>
<% end %>